<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Padlet | OSIS SMA IGS</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/valiancelogo.png') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    <!-- snowfall -->
    <div class="container">
      <header>
        <h1>Eterlight</h1>
      </header>

      <div class="posts-container" id="posts-container">
        <!-- Posts will be dynamically inserted here -->
      </div>
    </div>

    <!-- Create post button -->
    <!-- <button class="create-post-btn action-btn" id="create-post-btn">
      <i class="fas fa-plus"></i>
    </button> -->

    <!-- Refresh button -->
    <!-- <button class="refresh-btn action-btn" id="refresh-btn">
      <i class="fas fa-sync-alt"></i>
    </button> -->

    <!-- Popup form overlay -->
    <div class="popup-overlay" id="popup-overlay">
      <div class="post-form-container">
        <button class="close-popup" id="close-popup">
          <i class="fas fa-times"></i>
        </button>
        <h2>Create Post</h2>
        <form id="post-form" enctype="multipart/form-data">
          <div class="form-group">
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Nama: (Opsional)"
            />
          </div>
          <div class="form-group">
            <textarea
              id="content"
              name="content"
              placeholder="Masukan pesan anda..."
            ></textarea>
          </div>
          <div class="form-group file-input-container">
            <label for="image" class="file-label">
              <span class="file-label-text">Add Image</span>
              <input type="file" id="image" name="image" accept="image/*" />
            </label>
            <span id="file-name">No file chosen</span>
          </div>
          <div class="form-group">
            <button type="submit" id="submit-btn">Post</button>
          </div>
        </form>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
